* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 8px;
}

.red {
  color: red;
}

.welcome-section {
  margin: 15px;
  background-color: lightgray;
  color: black;
}

button {
  padding: 5px;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

.count {
  color: green;
  background-color: yellow;
  padding: 0 5px;
  margin: 15px;
}

.event-bind {
  color: yellow;
  font-weight: 500;
  font-size: 25px;
}
